@charset "utf-8";
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none;resize: none;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {display: block;}
img {max-width: 100%;height: auto;width:auto\9;-ms-interpolation-mode:bicubic;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section,input{margin:0;padding:0;border:none;list-style: none;}
body{font-family: YaHei, SimSun,Microsoft YaHei,Tahoma,Arial,sans-serif;}
em,i{font-style:normal;}
strong{font-weight: normal;}
a{text-decoration:none;font-family: SimSun,Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-family: Microsoft YaHei;}
body{background: black;}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
li,ol,ul {
  list-style-type: none;
}
blockquote,q {
  quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.clearfix:after,.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
i[class^=icon-] {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}
.img-box {
  text-align: center;
}
.img-box img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.overlay {
  background-color: rgba(0,0,0,.6);
}
.table-box table {
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-family: Microsoft YaHei;
}
button,input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
canvas{
  width: 7.5rem;
  height: 8rem;
  // background-color: black;
}
.box{
  width: 7.5rem;
  height: 10rem;
  background-color: white;
}

